<p style="color: green"><%= notice %></p>

<%= render @customer %>

<p>
  <strong>About me:</strong><br>
  <%= @customer.about_me %>
</p>

<p>
  <strong>Profile Photo:</strong><br>
  <% if @customer.profile_photo.attached? %>
  <%= image_tag @customer.profile_photo, alt: "Profile Picture" ,width: "100px" , height: "100px" %>
<% end %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @customer.dob %>
</p>




<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>
